#big{ background-color: whitesmoke;width: auto;height: 900px;}
#small{background-color: white;height: 730px;width: 900px;margin-left: 400px;margin-top: 40px;position: absolute;font-size: 20pt;text-align: center;}
.dl{ width: 80px;height:30px;}
.zc{ width: 80px;height:30px;}